%body#living_room
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box.main
              %a.prev{href: living_room_home_path, :style => "display:block"} Prev
              %a.next{href: bathroom_home_path} Next
              .lobby_img
                %div
                  .ws_images
                    %ul.wrapper-parent
                      %li{:style => "list-style: none outside none;"}
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("kitchen1.jpg")}
                          = image_tag "kitchen1.jpg"
                      %li{style: "display:none"}
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("oven_full.png")}
                          = image_tag "Typical-Oven_F24_PRO_XV.png"
                      %li{style: "display:none"}
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("cootop_full.png")}
                          = image_tag "Typical-Cooktop_QB30_4_00_X_0.png"
                      %li{style: "display:none"}
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("hood_full.jpg")}
                          = image_path "BeauxArts-08_magnoliawhite4.jpg"
                      %li{style: "display:none"}
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("speed_oven_full.jpg")}
                          = image_tag "H_4086_BM_Speed_Oven_2.png"
                      %li{style: "display:none"}
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("dishwasher_full.jpg")}
                          = image_tag"L1030604.png"
                  .ws_shadow
                .content
                  .rooftop typical kitchen
                  .lobby_para1
                    %p
                      “Qui ditatem oluptas maxime peritati us mod mil molorerit
                      quia volupta. Bus modis rectorpore, cor rerehen imporita sped.
                  .kitchen_right
                    %ul.kitchen_right1.wrapper-parent
                      %li
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("oven_full.png")}
                          = image_tag "Typical-Oven_F24_PRO_XV.png"
                      %li
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("cootop_full.png")}
                          = image_tag "Typical-Cooktop_QB30_4_00_X_0.png"
                      %li
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("hood_full.jpg")}
                          = image_tag "BeauxArts-08_magnoliawhite4.jpg"
                      %li
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("speed_oven_full.jpg")}
                          = image_tag "H_4086_BM_Speed_Oven_2.png"
                      %li
                        %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("dishwasher_full.jpg")}
                          = image_tag "L1030604.png"
            
            = render :partial => "footer"
:javascript
  $(document).ready(function ($) {
  // delegate calls to data-toggle="lightbox"
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
      event.preventDefault();
      return $(this).ekkoLightbox({
        onShown: function() {
          if (window.console) {
            return console.log('Checking our the events huh?');
          }
        }
      });
    });
    //Programatically call
    $('#open-image').click(function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
    });
    $('#open-youtube').click(function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
    });
  });

  //   // Custom Slider
  // var cur_slide=0;
  // var bh_totel_slide = $('.main_box_press').length;
  // var bh_neg_total = 0-bh_totel_slide;
  
  // $('.next').click(function(e) {
  //   $('.prev').show();
  //   bh_slide('right');
  //   e.preventDefault();
  // });
  
  // $('.prev').click(function(e) {
  //   $('.next').show();
  //   bh_slide('left');
  //   e.preventDefault();
  // });
  
  // function bh_slide(dir) {
  //   var  slide=0 
  //   var left_css
  //   if(dir == 'left') 
  //     cur_slide++;
  //   else
  //     cur_slide--;
  //     slide=cur_slide;
  //     left_css = slide*1105;
  //     left_css += 'px';
  //   $('#bh_slide_1').css('margin-left',left_css);
  //   if( (cur_slide) == (bh_neg_total+1) )
  //     $('.next').hide();
  //   if( (cur_slide) == 0 ) 
  //     $('.prev').hide();
  // }
