%body#press
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box1
              .content_box2
                .mainner_box
                  #bh_slide_1
                    .main_box_press.wrapper-parent
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag('press/2-19-14_Buzzbuzzhome.jpg'),download_home_path, :file_name =>  'nypost.jpg', :title => "Click to download this image")
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag('press/2-24-14_New_York_Observer.jpg'),download_home_path, :file_name =>  'nypost.jpg', :title => "Click to download this image")
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag('press/3-18-14_Curbed_-_The_44_New_Developments_Hitting_The_Market_This_Spring-1.jpg'),download_home_path, :file_name =>  'nypost.jpg', :title => "Click to download this image")
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag('press/5-27-2014_Buzzbuzzhome_-_199_Mott_in_Nolita_quietly_enters_market-1.jpg'),download_home_path, :file_name =>  'nypost.jpg', :title => "Click to download this image")
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag("press/5-28-2014_The_Real_Deal_-_Sales_launch_at_Alfa_Development’s_Nolita_condos.jpg"),download_home_path, :file_name =>  'nypost.jpg', :title => "Click to download this image")
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag("press/5-29-14_Curbed_-_Please_Welcome_Nolita's_11_New_Condos,_Starting_From_$2-01.jpg"),download_home_path, :file_name =>  'nypost.jpg', :title => "Click to download this image")
            = render :partial => "footer"
  :javascript
    // $(document).ready(function ($) {
    // $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    // event.preventDefault();
    // return $(this).ekkoLightbox({
    // onShown: function() {
    // if (window.console) {
    // return console.log('Checking our the events huh?');
    // }
    // }
    // });
    // });
    // //Programatically call
    // $('#open-image').click(function (e) {
    // e.preventDefault();
    // $(this).ekkoLightbox();
    // });
    // $('#open-youtube').click(function (e) {
    // e.preventDefault();
    // $(this).ekkoLightbox();
    // });
    // });
