%body#press
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box1
              .content_box2
                .mainner_box
                  #bh_slide_1
                    .main_box_press.wrapper-parent
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag('nypost.jpg'),download_home_path, :file_name =>  'nypost.jpg')
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag('nypost.jpg'),download_home_path, :file_name =>  'nypost.jpg')
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag('nypost.jpg'),download_home_path, :file_name =>  'nypost.jpg')
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag('nypost.jpg'),download_home_path, :file_name =>  'nypost.jpg')
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag('nypost.jpg'),download_home_path, :file_name =>  'nypost.jpg')
                      .inner_press_box
                        .press_box
                          .press_box1
                            = link_to( image_tag('nypost.jpg'),download_home_path, :file_name =>  'nypost.jpg')
            = render :partial => "footer"
  :javascript
    // $(document).ready(function ($) {
    // $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    // event.preventDefault();
    // return $(this).ekkoLightbox({
    // onShown: function() {
    // if (window.console) {
    // return console.log('Checking our the events huh?');
    // }
    // }
    // });
    // });
    // //Programatically call
    // $('#open-image').click(function (e) {
    // e.preventDefault();
    // $(this).ekkoLightbox();
    // });
    // $('#open-youtube').click(function (e) {
    // e.preventDefault();
    // $(this).ekkoLightbox();
    // });
    // });
