%body#press
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box
              %div
                %a.prev{href: ""} Prev
                %a.next{href: ""} Next
              .mainner_box
                #bh_slide_1
                  .main_box_press.wrapper-parent
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                  .main_box_press.wrapper-parent
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                  .main_box_press.wrapper-parent
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
                    .inner_press_box
                      .press_box
                        .press_box1
                          %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")}
                            = image_tag "nypost.jpg"
                      %a{"data-gallery" => "columnwrappers", "data-parent" => ".wrapper-parent", "data-toggle" => "lightbox", href: image_path("nypost.jpg")} NY Post - The big 12 - Village Green West 9/9/13
              = render :partial => "footer"
    :javascript
      $(document).ready(function ($) {
      // delegate calls to data-toggle="lightbox"
      $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
      event.preventDefault();
      return $(this).ekkoLightbox({
      onShown: function() {
      if (window.console) {
      return console.log('Checking our the events huh?');
      }
      }
      });
      });
      //Programatically call
      $('#open-image').click(function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
      });
      $('#open-youtube').click(function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
      });
      });
       
      var cur_slide=0;
      var bh_totel_slide = $('.main_box_press').length;
      var bh_neg_total = 0-bh_totel_slide;
      
      $('.next').click(function(e) {
       $('.prev').show();
       bh_slide('right');
       e.preventDefault();
      });
      
      $('.prev').click(function(e) {
       $('.next').show();
       bh_slide('left');
       e.preventDefault();
      });
      
      function bh_slide(dir) {
       var  slide=0 
       var left_css
        
       if(dir == 'left') 
            cur_slide++;
       else
           cur_slide--;
            
       slide=cur_slide;
       left_css = slide*1105;
       left_css += 'px';
       $('#bh_slide_1').css('margin-left',left_css);
        
       if( (cur_slide) == (bh_neg_total+1) )
         $('.next').hide();
          
       if( (cur_slide) == 0 ) 
         $('.prev').hide();
          
      }