%body#teams
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box1
              .content_box2
                .clear  
                .content_box_3
                  .team_box1
                    .team_box2
                      = image_tag "team.jpg"
                  .team_right
                    %h3 THE ALFA DEVELOPMENT TEAM
                    %p Comprised of longtime residents of the downtown Manhattan area, the Alfa Development team has firsthand knowledge of the downtown experience. Always mindful of how their buildings will become part of the fabric of their community, Alfa’s guiding principle is best articulated by the theme line: History, architecture, and sustainability on a human scale. With an aesthetic attuned to the unique harmonies of each neighborhood, their buildings combine architecturally contextual exteriors with the most finely appointed modern interiors.
                    .clearfix  
                    %h3 michael namer, founder and ceo
                    %p Michael Namer has been developing real estate in downtown New York for the last 30 years. As the founder, principal, and Managing Member of Alfa Development/Management LLC, Michael brings his attention to detail, construction expertise, and hands-on approach to real estate development to every project. In the last five years, Alfa Development has produced over $150,000,000 of residential condominium development—all in downtown Manhattan. Michael Namer and Alfa Development are continuing with their mission to create more sustainable living experiences with the developments and residences that comprise The Green Collection.
                .clearfix  
                .content_box_3
                  .team_box5
                    .abt_team
                      = image_tag "DanBernstein_KBA.png"
                    %h3 KUTNICKI BERNSTEIN ARCHITECTS
                    %p Innovation and inspiration are the defining components of buildings designed by Kutnicki Bernstein Architects. The 30 person firm is composed of studios which explore each project in depth and provides inventive new ways to integrate organizing concepts and iconic design with the programmatic and functional nexus of a building.
                    %h5
                      All patterns by
                      %span flat vernacular
                  .team_box6
                    .abt_team1
                      = image_tag "2013_9_23_AlfaDM_2.JPG"
                    .abt_team1
                      = image_tag "2013_9_23_AlfaDM_2479.JPG"
                    .clearfix  
                    %h3 Corcoran Group Marketing, Exclusive Sales & Marketing
                    %p
                      Corcoran Group Marketing is an affiliate of Corcoran Sunshine
                      Marketing Group. With 25 years of experience in marketing and
                      collective sales in excess of $25 billion, Corcoran Sunshine Marketing Group is the recognized industry leader in the planning, design, marketing, and sale of luxury residential development. Representing properties throughout the United States and in select international locations, Corcoran Sunshine Marketing Group’s portfolio contains a curated collection of the world’s most desirable new addresses.
            .footer
              .footer_left
                %a{href: ""} Legal
              .footer_right Alfa Development © 2014
            .footer_logo
              = image_tag "199-motto_logo.png"