!!!
%html
  %head
    %title MottFull
    = stylesheet_link_tag "style" 
    = stylesheet_link_tag "custom"
    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "bootstrap_theme"
    = stylesheet_link_tag "custom_file"

    = javascript_include_tag "myjs"
    = javascript_include_tag "bootstrap"
    
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield